/* Put your css in here */
html,body, .container-fluid {
  height:100%
}
.topRow {
    margin-bottom : 30px;
}


.on-drag-enter {
    background-color : #ddd;
}

.on-drag-enter-custom {
    /*background-color : #757575;*/
}

.on-drag-hover-custom {
    /*background-color : lightblue;*/
}
.animated {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
/*
.on-drag-hover:before {
  content: '';
  display: block;
  color: #363636;
  font-size: x-large;
  font-weight: 800;
}*/
.header-title {
	background-color: #674172;
	padding: 20px;
	margin-top: -10px;
	margin-left: -42px;
	margin-right: -45px;
  color: #ffffff;
}
.bubble {
border-radius: 0 25px;
padding: 10px;
width: 399px;
margin: 10px;
}
.bubbleHeader {
	height: 20px;
	/*background: slategrey;*/
  font-size: 16px;
  font-weight: bold;
}
.bubbleInner {
	padding: 1 px;
}
.imuser {
  position: relative;
  left: 500px;
}
#contentMessage, .paytm {
  border-color: #2C0766;
  border-width: 0 0 1.4px;
  border-style:solid;
  box-shadow: 0 0px 0px white inset, 0 0 0px white;
  height: 60px;
}
#contentMessage, .paytm:focus {
  outline: 0 none;
  border-color: #2C0766;
  border-width: 0 0 2.4px;
  box-shadow: 0 0px 0px white inset, 0 0 0px white;
}
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}
.smiley {
  outline: 0 none;
  position: absolute;
  bottom: 100px;
  border-color: #F7CA18;
  border-style: solid;
  border-width: 2.4px 0 5.4px 0;
  box-shadow: 0 0px 0px white inset, 0 0 0px white;
  background: #363637;
  padding: 3px;
}
.classActive {
  background: chartreuse;
}
