/* Put your css in here */
html,body, .container-fluid {
  height:100%
}
.topRow {
    margin-bottom : 30px;
}


.on-drag-enter {
    background-color : #ddd;
}

.on-drag-enter-custom {
    /*background-color : #757575;*/
}

.on-drag-hover-custom {
    /*background-color : lightblue;*/
}
.animated {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
/*
.on-drag-hover:before {
  content: '';
  display: block;
  color: #363636;
  font-size: x-large;
  font-weight: 800;
}*/
.header-title {
  background-color: #674172;
  padding: 20px;
  margin-top: -10px;
  margin-left: -42px;
  margin-right: -45px;
  color: #ffffff;
}
.bubble {
border-radius: 0 25px;
padding: 10px;
width: 399px;
margin: 10px;
}
.bubbleHeader {
  height: 20px;
  /*background: slategrey;*/
  font-size: 16px;
  font-weight: bold;
}
.bubbleInner {
  padding: 1 px;
}
.imuser {
  position: relative;
  left: 500px;
}
#contentMessage, .paytm {
  border-color: #2C0766;
  border-width: 0 0 1.4px;
  border-style:solid;
  box-shadow: 0 0px 0px white inset, 0 0 0px white;
  height: 60px;
}
#contentMessage, .paytm:focus {
  outline: 0 none;
  border-color: #2C0766;
  border-width: 0 0 2.4px;
  box-shadow: 0 0px 0px white inset, 0 0 0px white;
}
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}
.smiley {
  outline: 0 none;
  position: absolute;
  bottom: 100px;
  border-color: #F7CA18;
  border-style: solid;
  border-width: 2.4px 0 5.4px 0;
  box-shadow: 0 0px 0px white inset, 0 0 0px white;
  background: #363637;
  padding: 3px;
}
.classActive {
  background: chartreuse;
}
  /* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.paytm {
  border-color: #2C0766;
  border-width: 0 0 1.4px;
  border-style:solid;
  box-shadow: 0 0px 0px white inset, 0 0 0px white;
  height: 60px;
}
.paytm:focus {
  outline: 0 none;
  border-color: #2C0766;
  border-width: 0 0 2.4px;
  box-shadow: 0 0px 0px white inset, 0 0 0px white;
}
.rounded {
  border-radius: 5px; 
 -moz-border-radius: 5px; 
 -webkit-border-radius: 5px; 
  border: 1px dashed #800000;
  background: #363636;
  padding: 5%;
}
.rounded li{
  margin: 10px;
  padding: 10px;
}
.rounded a {
  color: red;
}
.player {
  border: 1px solid black;
  width: 100%;
  height: 300px;
}
.selectedPlayer {
  background: #2ECC71;
  color: #363636;
  border-radius: 1px 10px 10px 10px;
}

.unSelectedPlayer {
  background: #96281B;
  color: white;
  border-radius: 1px 10px 10px 10px;
}
.marginSet {
  margin: 10px;
  padding: 10px;
}
#progressOut
{
     width:50%;
     height:30px;
     border-color:#363637;
     position:relative;
     top:220px;
     left: 300px;
     overflow:hidden;
     border-width:1px;  
     border-style: dashed;
}
#progressIn
{     
     position:relative;
     height:100%;
     bottom:0px;
     width:0px;
     background:#D2D7D3;
}
#time
{
     position:absolute;
     padding:8px;
     /*margin-top: 5px;*/
     font-size:12px;
     background:#363637;
     right:0px;
     bottom:0px; 
}
#time span {
      top: 4px;
      color: white;
      position:relative;
}
.mute {
    position: relative;
    float: right;
    right: 243px;
    top: 165px;
    z-index: 999;
    width:10px;
}
.pause {
    position: relative;
    left: 248px;
    top: 165px;
    z-index: 999;
    width:10px;
}
#backward{
  width: 10px;
  position: absolute;
  left: 10%;
}
#forward{
  width: 10px;
  position: absolute;
  float: right;
  top: 10%;
  right: 8%;
}