    <md-sidenav flex="15" md-is-locked-open="true" class="md-whiteframe-z1">
      <md-content>
        <ul>
                        <li
                        ng-repeat="man in men track by $index">
                        <span ng-if="man.name != 'logout'" class="rounded"><i class="fa fa-circle-o-notch"><a id="{{man.name}}" ui-draggable="true" drag="man.path"
                         ui-sref="{{man.path}}" class="img-rounded">{{man.name}}</a></i></span><br>
                         <span ng-if="man.name == 'logout'" style="cursor:pointer"><i class="fa fa-circle-o-notch"><a id="{{man.name}}" ng-click="logout()" ui-draggable="true" drag="man.name">{{man.name}}</a></i></span><br>
                        </li>
        </ul>
      </md-content>
    </md-sidenav>
    <md-content flex="85" id="droppable" ui-on-Drop="onDrop($event, $data)" drag-enter-class="on-drag-enter-custom" drag-hover-class="on-drag-hover-custom" ui-view>
    </md-content>

