<div class="animated" id="songs-target">
<div class="player">
        
		<div id="progressOut" ng-click="progress($event)" role="button" tabindex="0">
		     <div id="progressIn" style="width: 99%;">
		          <div id="time"><span>0:00</span></div>
		     </div>
		</div>
		<div id="mute" class="mute">
			<div ng-show="muteOnOffBool" aria-hidden="false" class="">
				<h1 title="Mute Off"><i class="fa fa-volume-up pt" ng-click="muteOnOff(true)" role="button" tabindex="0"></i></h1>
			</div>
			<div ng-hide="muteOnOffBool" aria-hidden="true" class="ng-hide">
				<h1 title="Mute On"><i class="fa fa-volume-off pt" ng-click="muteOnOff(false)" role="button" tabindex="0"></i></h1>
			</div>
		</div>
		<div id="pause" class="pause">
			<div ng-show="pauseOnPlayerBool" aria-hidden="false" class="">
				<h1 title="Pause"><i class="fa fa-pause" ng-click="pauseOnPlayer(true)" role="button" tabindex="0"></i></h1>
			</div>
			<div ng-hide="pauseOnPlayerBool" aria-hidden="true" class="ng-hide">
				<h1 title="Play"><i class="fa fa-play" ng-click="pauseOnPlayer(false)" role="button" tabindex="0"></i></h1>
			</div>
		</div>
		<div id="backward">
        	<h1 title="Step Backward"><i class="fa fa-step-backward" ng-click="stepBackward()" role="button" tabindex="0"></i></h1>
        </div>
        <div id="forward">
        	<h1 title="Step Forward"><i class="fa fa-step-forward" ng-click="stepForward()" role="button" tabindex="0"></i></h1>
        </div>
</div>
<div ng-repeat="parent in songList">
  <ul id="song-ul" style="list-style-type: none;cursor:pointer;width: 70%;">
	  <li id="song-li-{{$index}}" ng-repeat = "child in parent track by $index" class="unSelectedPlayer">
	    <h3 class="marginSet">{{child | removeTilda}}</h3>
	    <span style="margin: 1%;padding: 1%">
	    <a ng-click="play($index)"><i class="fa fa-play"></i> Play&nbsp;&nbsp;</a>
	    <a ng-click="pause($index)"><i class="fa fa-pause"></i> Pause &nbsp;&nbsp;</a>
	    </span>
	    <audio controls class="animated" id="audio-{{$index}}">
			  <source ng-src="{{child}}" type="audio/ogg">
			  <source ng-src="{{child}}" type="audio/mpeg">
	    </audio>
	  </li>
   </ul>
</div>
</div>